[submodule "frontend"]
	path = frontend
	url = https://github.com/ajoyscorpion/doctor_booking_frontend.git
[submodule "doctor_booking_backend"]
	path = doctor_booking_backend
	url = https://github.com/ajoyscorpion/doctor_booking_backend.git
[submodule "backend"]
	path = backend
	url = https://github.com/ajoyscorpion/doctor_booking_backend.git
